@font-face {
  font-family: 'Salsa';
  src: URL('../fonts/Salsa-Regular.ttf') format('truetype');

}

body {
  background-image: url('Media/fondo_negro2.png');
  display: flex;
}

header {
  z-index: 100;
  position: absolute;
  width: 100%;
  left: 0px;
}

header link {
  display: flex;
  justify-content: flex-end;
}

#logo {
  position: absolute;
  width: 179px;
  height: 179px;
  left: 17px;
  top: -52px;
}

#menu {
  position: absolute;
  width: 65px;
  height: 30px;
  left: 1045px;
  top: 25px;
  display: flex;
  justify-content: space-around;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 125.8%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFC700;

}

#menu span {
  margin-right: 10px;
}

.card-front {
  width: 195px;
  height: 253px;
  background: rgb(21, 32, 39);
  border: #ffc7009c solid;
  border-radius: 7px;
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  backface-visibility: hidden;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: .3s cubic-bezier(0.4, 0, 1, 1);
  transform: rotateY(0deg);
  cursor: pointer;
  width: 195px;
  margin: 20px;
}

.card:hover {
  transform: rotateY(180deg);
}

#cartas {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin-top: 124px;
}

.nombre-persona {
  color: #FCB48E;
  width: 186px;
  height: 36px;
  font-family: 'Salsa';
  font-style: normal;
  font-size: 22px;
  line-height: 98.8%;
  text-align: center;
  letter-spacing: 0.04em;
  padding-bottom: 14px;

}

.foto-persona {
  width: 124px;
  height: 171px;
  border-radius: 10px;
}

img {
  margin-right: 36px;
  margin-bottom: 12px;
}

.card-back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  width: 195px;
  height: 253px;
  background: rgb(21, 32, 39);
  border: #ffc7009c solid;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: flex-star;
  flex-direction: column;
}

.card-back>div {
  color: #FCB48E;
  height: 38px;
  font-style: normal;
  font-size: 18px;
  line-height: 106.8%;
  text-align: start;
  letter-spacing: 0.04em;
  padding-left: 10px;
  margin-bottom: 15px;
  font-family: open sans-serif;
}

.house-persona {
  padding-top: 28px;
}

#filtros {
  color: white;
  margin-top: 111px;
}

span {
  color: #ffc7009c;
  margin: 0;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: #FFC700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  margin-top: 0.5em;
}

ul.topnav li a:hover:not(.active) {
  background-color: #112;
}

@media screen and (max-width: 600px) {

  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.link {
  width: 100px;
  top: 3px;
  float: right;
}
