body {
  background-image: url('Media/vector-harry-potter-magic-pattern.jpg');
  display: flex;
}

header {
  background: #404643;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 100%;
  height: 75px;
  left: 0px;
  top: 0px;
}

#logo {
  position: absolute;
  width: 179px;
  height: 179px;
  left: 17px;
  top: -52px;
}



#menu {
  position: absolute;
  width: 65px;
  height: 30px;
  left: 1045px;
  top: 25px;
  display: flex;
  justify-content: space-around;
  font-family: Salsa;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 125.8%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFC700;
  
}

#menu span {
  margin-right: 10px;
}

.card-front {
  width: 195px;
  height: 253px;
  background: rgba(0, 0, 0, 0.92);
  border-radius: 7px;
  text-align: center;
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  backface-visibility: hidden;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: .3s cubic-bezier(0.4, 0, 1, 1);
  transform: rotateY(0deg);
  cursor: pointer;
  width: 195px;
  margin: 20px;
}

.card:hover {
  transform: rotateY(180deg);
}

#cartas {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  margin-top: 124px;
}

.nombre-persona {
  color: #FCB48E;
  width: 186px;
  height: 36px;
  font-family: Salsa;
  font-style: normal;
  font-weight: 100;
  font-size: 23px;
  line-height: 90.8%;
  text-align: center;
  letter-spacing: 0.04em;
  padding-bottom: 10px;

}

.foto-persona {
  width: 124px;
  height: 171px;
  border-radius: 10px;
}



.card-back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  width: 195px;
  height: 253px;
  background: rgba(0, 0, 0, 0.92);
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: flex-star;
  flex-direction: column;
}

.card-back>div {
  color: #FCB48E;
  width: 180px;
  height: 38px;
  font-family: Salsa;
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 106.8%;
  text-align: start;
  letter-spacing: 0.04em;
  padding-left: 10px;
  margin-bottom: 5px;
}

.house-persona {
  padding-top: 28px;
}

#filtros {
  color: white;
  margin-top: 111px;
}




ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  background-color: #333;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  color: #FFC700;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #112;}


@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.link {
  width: 100px;
  top: 3px;
  float: right;
}